{% extends "home_template.html" %}

{% block header %}
    <h2>Items you last looked at: </h2>
{% endblock %}

{% block content %}


    {% for product in products %}


        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">${{ product.price }}</h4>
                    <h4><a href="#">{{ product.title }}</a>
                    </h4>
                    <p>{{ product.description }}</p>
                </div>
                <div class="ratings">

                    <p>
                        {% for i in product.rating %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% endfor %}


                    </p>
                </div>
            </div>

        </div>
    {% endfor %}




{% endblock %}