{% extends "home_template.html" %}

{% block header %}
    <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        {% if new_user %}
                Welcome to Target {{ user_email }}! Click <a href="#"> here </a> for a tutorial!
        {% else %}
                 Welcome back {{ user_email }}!
        {% endif %}
     </div>



    <h2>Items you last looked at: </h2>
{% endblock %}

{% block content %}
    {% for product in products %}

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <img src="{{ product.picture }}" alt="pic">

                <div class="caption">
                    {%  if product.available_coupons %}
                        <h4 style="color:red" class="pull-right">${{ product.price | floatformat:2 }}</h4>
                    {% else %}
                        <h4 class="pull-right">${{ product.price | floatformat:2 }}</h4>
                    {% endif %}
                    <h4><a href='{% url 'price_check' %}?product_id={{ product.pk }}'>{{ product.title }}</a>
                    </h4>
                    <p>{{ product.description }}</p>
                    {% for coupon in product.available_coupons %}
                        <span class="label label-warning">{{  coupon.name }}</span>
                        {% endfor %}
                </div>
                <div class="ratings">

                    <p>
                        {% for i in product.rating %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% endfor %}

                    </p>
                </div>
            </div>

        </div>
        {% empty %}
        Visit the product lookup page to view items
    {% endfor %}

{% endblock %}