{% extends "home_template.html" %}

{% block header %}
    <h2>Select a product to price check: </h2>



        <div class="col-md-3 ">
        <div class="input-group">
        <input type="text" id="search_text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search_button" type="button">Search!</button>
         </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->


{% endblock %}

{% block content %}
<div id="search-results"></div>
    <br/> <br/>


    {% if product %}

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <img src="{{ product.picture }}" alt="pic">

                <div class="caption">
                    {%  if product.available_coupons %}
                        <h4 style="color:red" class="pull-right">${{ product.price | floatformat:2 }}</h4>
                    {% else %}
                        <h4 class="pull-right">${{ product.price | floatformat:2 }}</h4>
                    {% endif %}
                    <h4><a href="#">{{ product.title }}</a>
                    </h4>
                    <p>{{ product.description }}</p>
                                    {% for coupon in product.available_coupons %}
                        <span class="label label-warning">{{  coupon.name }}</span>
                        {% endfor %}
                </div>
                <div class="ratings">

                    <p>
                        {% for i in product.rating %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% endfor %}

                    </p>
                </div>

            </div>
         <a class="pull-down" href="http://www.amazon.com/s/ref=nb_sb_noss?field-keywords={{ product.title }}" target="_blank"><button type="button" class="btn btn-success">Price Check</button></a>

        </div>






    {% endif %}




{% endblock %}
